.search-sidemenu-select{

    padding: 8px 10px;
    gap: 10px;
    width:200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    background: #F8F9FB;
    border: 1px solid #C4CBD6;
    border-radius: 2px;
}

.menu-down:after{
        position: absolute;
  width: 40px;
  height: 45px;
  left: 98.6%;
  top: 0%;
  float:right;
  content:url('../img_common/arrow_white_btn.png');
  transform: rotate(-360deg);
  margin-left: 10px;
  background: #2A9674;
  border: 0px solid #2A9674;
  z-index: 99;
}


.sidemenu-top-line{
    width: 330px;
    height: 0px;
    left: 374px;
    top: 68px;
    border: 1px solid #39B48E;
    transform: rotate(180deg);
    margin-left: 25px;
    margin-top: 10px;
}

.sidemenu-top-txt{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -0.015em;
    color: #232830;

}

.circle-red:before{
    content: url('../img_common/circle_red.png');
    margin-right:3px;
    vertical-align: middle;

}

.circle-orange:before{
    content: url('../img_common/circle_orange.png');
    margin-right:3px;
    vertical-align: middle;
}


.circle-green:before{
    content: url('../img_common/circle_green.png');
    margin-right:3px;
    vertical-align: middle;
}

.sidemenu-desc{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 350px;
    letter-spacing: -0.015em;
    color: #0E0F0E;
    text-align: right;
    margin-top: 10px;
}

.sidemenu-content-head{
    width: 310px;
    height: 41.18px;
    left: 0px;
    top: 0.32px;
    background: linear-gradient(90.94deg, #18A7A1 1.24%, #60C276 100%);
    border-radius: 4px 4px 0px 0px;
    margin-left: 25px;
}
.sidemenu-space-content{
    margin-top: 20px;
}

.sidemenu-head-txt{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    margin-top: 10px  ;
    margin-left: 10px ;
    float:left;
    color: #FFFFFF;
}

.sidemenu-table{
    border: 0px;
    margin-left: 10px;
    margin-top: 25px;
}

.sidemenu-content-line{
    width: 290px;
    height: 0px;
    left: 10px;
    top: 119.5px;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid #EBEBEB;
}

.sidemenu-table th{
    border: 0px ;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #828382;
    text-align:center;

}

.sidemenu-table td{

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 110%;
letter-spacing: -0.015em;
color: #232830;
text-align:center;


}


.sidemenu-head-txt-right{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    float:right;
    margin-top: 7.91px;
    margin-right: 10px;
}
.sidemenu-content{
    position: relative;
    width: 310px;
    height: 170.82px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    margin-left: 25px;
}

#sidebarMenu {   
    position: fixed;
    left:   100%;  
    width: 370px;
    height: 984px;
    margin-top: 40px;
    transform: translateX(-370px);
    transition: transform 170ms ease-in-out;
    background: #F7F8FA;
    z-index: 3;
}

#sidebarMenu2 {   
    position: fixed;
    top: 40px;
    width: 1840px ;
    height: 40px ;
    transform: translateY(-40px);
    transition: transform 170ms ease-in-out;
    background: #F7F8FA;
    z-index: 4;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

#openSidebarMenu2.input[type="checkbox"]:checked ~ #sidebarMenu2 {
    transform: translateY(0);
}

#openSidebarMenu.input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

#openSidebarMenu2.input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}


.sidebarIconToggle2 {
     z-index:98;
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 40px;
    background: #2A9674;
    border: 1px solid #9CA9BA;
    border-top: 0px;
    border-radius: 0px 0px 2px 2px;
    left:98.7%;
    top: 0%;
    transform: rotate(0deg);
}

.sidemenu-top-hidden{
    width: 1840px;
    position: fixed;
    height: 185px;
    left: 80px;
    top: 40px;
    z-index:99;
    background: #FAFAFA;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
}

.located-desc{
    position: absolute;
    width: 173px;
    height: 68px;
    left: 352px;
    top: 533px;
    text-align:center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index:99;
    vertical-align: middle;
}


.located-desc-simple{
    position: absolute;
    width: 103px;
    height: 32px;
    left: 644.77px;
    top: 586.18px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index:99;
    vertical-align: middle;
    text-align: center;

}

.located-line{
    width: 152.12px;
    height: 0px;
    left: 162.12px;
    top: 28px;
    margin-left: 10px;
    border: 1px solid #212932;
    transform: rotate(180deg);
    }

.located-title{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #212932;
    line-height: 2;
}

.sidebarIconToggle2:after {
  position: absolute;
  content:url('../img_common/arrow_white_btn.png');
  transform: rotate(-360deg);
  margin-left: 5px;
  margin-top: 4px;
  background: #2A9674;
  border: 0px solid #2A9674;
  z-index: 99;
}
.sidebarIconToggle{
    z-index:98;
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #9CA9BA;
    border-top: 0px;
    border-radius: 0px 0px 2px 2px;
    transform: rotate(90deg);
    left: -9%;
    top: 0.95%;
}

.sidemenu-scroll{
    width:360px;
    height:740px;
    overflow: auto;
    overflow-x:hidden;
}



#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #E3E4E4;
}

#style-4::-webkit-scrollbar
{
    width: 10px;
    background-color: #E3E4E4;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #C8C8C8;
    border: 0px solid #555555;
}


.sidebarIconToggle:after {
    content:url('../img_common/arrow_btn.png');
    display: inline-block;
    transform: rotate(90deg);
    margin-left:-24px;
    position: absolute;
}



.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}